<ion-view>
    <ion-nav-title>

    </ion-nav-title>
    <ion-content class="padding">

        <div class="card">
            <div class="item item-divider">
               User Information
            </div>
            <div class="item item-text-wrap">
                <ul class="list">
                    <li class="item item-icon-left">
                        <i class="icon ion-person"></i>
                        Name : <b>{{name}}</b>
                    </li>
                    <li class="item item-icon-left">
                        <i class="icon ion-card"></i>
                        ServiceONE ID : <b>{{soneid}}</b>
                    </li>
                    <li class="item item-icon-left">
                        <i class="icon ion-person-stalker"></i>
                        Group : <b>{{usergroup}}</b>
                    </li>
                    <li class="item item-icon-left">
                        <i class="icon ion-ios-telephone"></i>
                        Phone No : <b>{{phone}}</b>
                    </li>
                    <li class="item item-icon-left">
                        <i class="icon ion-information-circled"></i>
                        User Type : <b>{{userType}}</b>
                    </li>
                </ul>
            </div>

        </div>

    </ion-content>



</ion-view>

